
/*
  Import the common theme.
*/
@import "./_shared/scss/theme.scss";

/*
  If you need some CSS for any reason you can put it here.
*/

.over{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: white;
}

.cookie{
	height: 368px;
	width: 310px;
	display: flex;
	flex-direction: column;
	background-color: rgba(0,0,0,0.3);
	border-radius: 15px;
	border-style: solid;
	border-color: #8F6201;
	border-width: 4px;
}

.counter{
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	background-color: rgba(0,0,0,0.3);
}

.buy{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	width: 680px;
	font-size: 18px;
	font-weight: bold;
	background-color: rgba(0,0,0,0.3);
	border-radius: 15px;
	border-style: solid;
	border-color: #8F6201;
	border-width: 4px;
}

.fb-share-button{
	align-self: flex-end;
	margin-right: 15px;
}

.buy p{
	padding-left: 15px;
	padding-right: 25px;
	font-size: 20px;
}

.multiplier{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.autoClick{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.multiplierButton{
	color: white;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.3);
	border-color: #BE8305;
	border-width: 4px;
	box-shadow: 4px 4px 4px black;
}

.autoClickButton{
	color: white;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.3);
	border-color: #BE8305;
	border-width: 4px;
	box-shadow: 4px 4px 4px black;
}

.multiplierButton:focus{
	outline: none;
}

.autoClickButton:focus{
	outline: none;
}

.content{
	display: flex;
	flex-direction: column;
	background-image: url(https://cdn.wallpapersafari.com/1/91/0tZmv9.png);
}

.factories{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.factories img{
	margin-top: 15px;
}